/* AboutPage.css */
.about-page {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: var(--primary-color);
  padding: 20px;
  font-family: 'Gobold', sans-serif;
  text-align: justify; /* Ensure text is left-aligned */
}

.about-page h1 {
  color: var(--primary-color);
  border: 3px solid black;
  font-family: 'GoBold  Extra1', sans-serif;;
  font-size: 35px;
  font-weight: bold;
  margin: 0;
;
}

.subtitle {

  font-family: 'GoBold  Extra1', sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 0;
  margin: 0;
}

.text {
  width: 90%;
  font-family: 'Gotham Book', sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 0;
  margin: 0;
  border: 3px solid black;
}

/* Ensure the text blocks have sufficient spacing */
.text + .text {
  margin-top: 15px;
}
