/* AboutPage.css */
.about-page h1{
  color: var(--primary-color);
  
}
.about-page {
    height: 60vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    color:var(--primary-color);
    padding: 20px;
    font-family: 'Gobold', sans-serif;
  }
  
  .title {
    display : flex;
    justify-content: flex-start;
    border: 3px solid black;
    font-family: 'extra1Surimi', sans-serif;
    font-size: 35px;
    font-weight: extra1bold;
  }
  
  .subtitle {
    font-family: 'Gotham Book', sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
  }
  
  .about-page .text {
    padding: 15px;
    height: 50%;
    border: 3px solid black;
    font-family: 'Gotham Book', sans-serif;
    font-size: 16px;
    font-weight: 500;
  }
  