.cover {
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.button {
    background-color: transparent;
    border: 3px solid white;
    color: var(--primary-color);
    font-weight: bold;
    padding: 10px 20px;
    margin: 20px;
    flex: 1; /* Make all buttons take up equal space */
    text-align: center; /* Center the text inside the buttons */
    max-width: 150px; /* Set a max-width for responsiveness */
    min-width: 100px; /* Set a min-width to ensure buttons don't get too small */
}

.buttons {
    display: flex;
    width: 50%; /* Adjust width to accommodate button sizes */
    height: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10%;
    gap: 10px;
}

/* Media queries for mobile devices */
@media (max-width: 768px) {
    .cover {
        height: 70vh; /* Maintain full height */
        background-size: 150%; /* Zoom out effect */
        background-position: center; /* Center the image */
        flex-direction: column; /* Stack elements vertically */
    }

    .button {
        flex-shrink: 1;
        padding: 8px 6px; /* Reduce padding */
        margin: 8px; /* Reduce margin */
        max-width: 25%; /* Set a max-width for responsiveness */
        min-width: 20%; 
    }

    .buttons {
        gap: 1px;
        width: 100%; /* Increase width to fit buttons */
        height: auto; /* Adjust height */
        bottom: 1%; /* Adjust position */
        justify-content: center; /* Center buttons */
    }
}
