.delivery {
  
  

  display: flex;
  


  color: var(--primary-color);
  border: 3px solid var(--primary-color);
  border-radius: 20px;

}

.delivery .container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  

}
.delivery-logo {
  display: flex;
  justify-content: space-around;

  ;


  margin: 4rem auto; 
  top: 20px;


  


}

.delivery-logo img {

 /* adjust as needed */
  
  cursor: pointer;

}
#title {
  display: flex;
  left: 50%;
  font: size 1px;
  text-align: center;
  
}

.delivery .container h2 p {
  justify-content:  center;
  font-size: 3rem;
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 20px;
} 

#uberlogo{
  max-width: 14%;
  height: auto;
  
}
#glovologo{

  max-width:14%;
  height: auto;
}
#justeatlogo{
  
  max-width: 14%;
  height: auto;
}
