

.footer{
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr  ;
    margin-top:auto;

}
.footer .container {
  display: flex;
  flex-direction: column;
  text-align: center;


}
.footer-content{
  display: flex;
  justify-content: space-between;
 
  
}
.footer ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  color : var(--primary-color);
  font-weight: 1000;
  font-size: 2rem;
  

}

.footer li {
  padding: 1rem;
}

.footer li a {
  font-size: 5rem; 

  border: black;
}

.footer li a:hover {
  padding-bottom: 12px;

}

.bottom {
  text-align: center;
  padding-top: 1rem;

  color: white;
}

.line {
  margin-bottom: 1rem;
}
.social-icons{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}
.footer .social-icons a i {
  display: flex;
  flex-direction: column;
  font-size: 60px; /* Adjust this value to increase or decrease the icon size */
  color:black;
  
}

.footer.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem; /* Adjust as needed */
  font-size: 40px;

}

.footer .social-icons a {
 /* Icon color */
  margin-right: 1rem;
  width: 80px;
  padding: 10px;
  

}
.footer .container .footer-content .links-footer li a {
  color: black;
  font-size: 1.5rem;
  font-weight: 1000;
  text-decoration: none;
  padding: 1rem;
}