
.locations{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 1em;
    

    

    
}
h1{
    color: var(--primary-color);
    text-align: center;
    margin: 20px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px;

}

.addresses2{

    padding: 2rem;
    flex-shrink:8;

}

.addresses {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: row; 
    border-radius: 20px;
    overflow: hidden;
    min-width: 200px;
    justify-content: space-around;
    gap: 1rem;
    

}
.map{
    min-width: 200px;
    flex-shrink: 1;
    width: 98%;
    display: flex;  
    flex-direction: column;
    height: auto;
    border-radius: 20px;
    overflow: hidden;

}
:link{
    text-decoration: none;
    color: var(--primary-color);
}

.locations #location-pin{
    height: auto;
    min-width: 20%;
    max-width: 24%;;
    margin-bottom: 2rem;
}
.locations #location-pin-mini img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}