header {
  position: fixed;
  height: 120px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  top: 0;
  left: 0;
  z-index: 1;
  transition: .3s ease-in;
  overflow: hidden;
  background-color: red;
}

.header .navbar {
  border: 3px solid var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: 100%;
  padding: 0 1rem;
}

.header .nav-menu a {
  color: #EA79A2;
  font-weight: 1000;
}

.header .navbar img {
  max-width: 100px;
  max-height: 100px;
  height: auto;
  width: auto;
}

.header .nav-menu {
  display: flex;
  flex-direction: column; /* Adjust for mobile first */
  position: fixed;
  top: -100%; /* Initially positioned above the viewport */
  left: 0;
  background-color: rgba(0, 0, 0, .9);
  width: 100%;
  height: 100vh;
  z-index: 999;
  text-align: center;
  transition: .3s;
}

.header .nav-menu.active {
  top: 0; /* Slide down into view */
}

.header .nav-item {
  padding: 1rem;
  font-weight: 500;
}

.header .nav-item a:hover {
  padding-bottom: 12px;
  border-bottom: 3px solid var(--secondary-color);
}

.hamburger {
  display: block;
  color: white;
  z-index: 1000; /* Ensure the hamburger icon is above the menu */
}

@media screen and (min-width: 940px) {
  .header {
    max-width: 100%;
    background-color: rgba(0, 0, 0, .9);
  }

  .header .navbar {
    max-width: 100%;
  }

  .nav-menu {
    flex-direction: row;
    position: static;
    background-color: transparent;
    width: auto;
    height: auto;
    display: flex; /* Display flex for desktop */
  }

  .nav-menu.active {
    top: 0;
  }

  .nav-item {
    margin: 1.5rem 0;
  }

  .header .navbar img {
    width: 150px;
  }
}

/* Style for hamburger icons */
.hamburger .fa-bars,
.hamburger .fa-times {
  color: var(--primary-color); /* Change this to the desired color */
}
