.slideshow-container {

    width: 90%;
    height: auto;
    overflow: hidden;
    margin-top: 210px;
  }
  
  .slideshow-wrapper {
    display: flex;
    justify-content: space-around;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    min-width: 100%;
    box-sizing: border-box;
  }
  
  .slide img {
    width: 100%;
    display: block;
  }
  