:root {
  --primary-color: #EB7AA4;
  --primary-dark: #ff34d3;
  --secondary-color: #fd0782;
  --secondary-dark:#e30258;
  --overlay:rgba(0,0 ,0,.7);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
}

body {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px; 


    


  margin: 0;
  /* Replace with your desired font stack for body text */
  font-family: "Gotham Book", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;
  line-height: 1.2;
}

#root {
  
  min-height: 100vh;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.button {
  padding: 17px 28px;
  font-size: 1.2rem;
  color:var(--primary-color);
  font-weight: 1000;
  text-transform: uppercase;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background: var(--primary-dark);
  border: 1px solid var(--primary-dark);
}

.line {
  display: block;
  width: 50px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--primary-color);
}

/* Media queries for responsiveness */
@media (min-width: 600px) {
  .public {
    grid-template-columns: repeat(2, 1fr); /* Two columns on medium screens */
  }
}

@media (min-width: 900px) {
  .public {
    grid-template-columns: repeat(4, 1fr); /* Four columns on large screens */
  }
}



